@import 'tailwindcss';

* {
  line-height: 1rem;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 16px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--color-primary), var(--color-primary-dark));
  border-radius: 16px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, var(--color-primary), var(--color-primary-dark));
}

@theme {
  --color-primary: var(--c-primary);
  --color-primary-dark: var(--c-primary-dark);
  --color-secondary: var(--c-secondary);
  --color-background: var(--c-background);
  --color-background-dark: var(--c-background-dark);
  --color-text: var(--c-text);
  --color-card: var(--c-card);
  --color-border: var(--c-border);
  --color-input: var(--c-input);
  --color-danger: var(--c-danger);
  --color-danger-content: var(--c-danger-content);
  --color-success: var(--c-success);
  --color-warning: var(--c-warning);
  --color-info: var(--c-info);
}


.bg-galaxy {
  background-image: radial-gradient(at bottom, #1a1a1a 0, #000 100%);

}

/* .stars {
  background: transparent url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
  animation: moveStars 100s linear infinite;
} */
.stars {
  background: #000;
  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1.5px, transparent 1.5px),
    radial-gradient(white 2px, transparent 2px);
  background-size: 3px 3px, 6px 6px, 9px 9px;
  background-position: 0 0, 50px 100px, 100px 200px;
  animation: moveStars 300s linear infinite;
}

@keyframes moveStars {
  from {
    background-position: 0 0, 0 0, 0 0;
  }

  to {
    background-position: 1000px 500px, -500px 1000px, 500px -1000px;
  }
}